# Exploratory Notebook

In [30]:
import pandas as pd
import sqlite3

In [31]:
con = sqlite3.connect('../zippedData/im.db')
cursor = con.cursor()

In [32]:
schema_df = pd.read_sql("""

SELECT *
FROM sqlite_master

""", con)

schema_df

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [33]:
movie_basics = pd.read_sql("select * from movie_basics", con)
movie_basics

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [34]:
movie_ratings = pd.read_sql("select * from movie_ratings", con)
movie_ratings

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [35]:
joint_movies = pd.read_sql("""
select movie_basics.*, movie_ratings.averagerating, movie_ratings.numvotes from movie_basics inner join movie_ratings on movie_basics.movie_id = movie_ratings.movie_id
""", con)
joint_movies

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,None,6.6,5
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11

In [36]:
joint_movies[joint_movies["primary_title"] == "Toy Story 3"]

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
91,tt0435761,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218

In [37]:
movie_gross = pd.read_csv('../zippedData/bom.movie_gross.csv.gz')
movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [38]:
titles = movie_gross["title"].to_list()
titles

['Toy Story 3',
 'Alice in Wonderland (2010)',
 'Harry Potter and the Deathly Hallows Part 1',
 'Inception',
 'Shrek Forever After',
 'The Twilight Saga: Eclipse',
 'Iron Man 2',
 'Tangled',
 'Despicable Me',
 'How to Train Your Dragon',
 'Clash of the Titans (2010)',
 'The Chronicles of Narnia: The Voyage of the Dawn Treader',
 "The King's Speech",
 'Tron Legacy',
 'The Karate Kid',
 'Prince of Persia: The Sands of Time',
 'Black Swan',
 'Megamind',
 'Robin Hood',
 'The Last Airbender',
 'Little Fockers',
 'Resident Evil: Afterlife',
 'Shutter Island',
 'Salt',
 'Sex and the City 2',
 'The Tourist',
 'The Expendables',
 'Grown Ups',
 'Knight & Day',
 'True Grit',
 "Gulliver's Travels",
 'Percy Jackson & The Olympians: The Lightning Thief',
 'The Social Network',
 "Valentine's Day",
 "The Sorcerer's Apprentice",
 'Due Date',
 'Eat Pray Love',
 'Yogi Bear',
 'Red',
 'Paranormal Activity 2',
 'The A-Team',
 'Jackass 3-D',
 'The Other Guys',
 'Unstoppable',
 'Step Up 3-D',
 'The Book of Eli',
 'The Town',
 'Date Night',
 "Legend of the Guardians: The Owls of Ga'Hoole",
 'The Wolfman',
 'The Bounty Hunter',
 'Saw 3D',
 'Wall Street: Money Never Sleeps',
 'The Fighter',
 'Predators',
 'A Nightmare on Elm Street (2010)',
 'Dear John',
 'Cats & Dogs: The Revenge of Kitty Galore',
 'Tooth Fairy',
 'Life as We Know It',
 'Hereafter',
 'The Girl with the Dragon Tattoo',
 'Love and Other Drugs',
 'Aftershock (Tangshan Dadizhen)',
 'Killers',
 'Kick-Ass',
 'Green Zone',
 'Nanny McPhee Returns',
 'Get Him to the Greek',
 'Burlesque',
 'The Last Song',
 'Dinner for Schmucks',
 'Marmaduke',
 'Piranha 3D',
 'Oceans',
 'Edge of Darkness',
 'Vampires Suck',
 'Letters to Juliet',
 'The Back-Up Plan',
 'If You Are the One 2 (Fei Cheng Wu Rao II)',
 'Diary of a Wimpy Kid',
 'Easy A',
 'Hubble 3D',
 'Takers',
 'Tales from Earthsea',
 'Legion (2010)',
 'The American',
 'The Last Exorcism',
 'The Next Three Days',
 'The Girl Who Played with Fire',
 'Skyline',
 'Hot Tub Time Machine',
 'Devil',
 '127 Hours',
 "Tyler Perry's Why Did I Get Married Too?",
 'Secretariat',
 'The Ghost Writer',
 'Morning Glory',
 'Remember Me',
 'Cop Out',
 'The Crazies',
 'From Paris with Love',
 'Daybreakers',
 'Alpha and Omega',
 'The Switch',
 "She's Out of My League",
 'Death at a Funeral (2010)',
 'How Do You Know',
 'Charlie St. Cloud',
 'Scott Pilgrim vs. the World',
 'Heartbreaker',
 'The Spy Next Door',
 'The Good, the Bad, the Weird',
 'Machete',
 "The Girl Who Kicked the Hornet's Nest",
 'The Man From Nowhere',
 'When in Rome',
 'My Name is Khan',
 'Going the Distance',
 'The Concert',
 'Agora',
 'For Colored Girls',
 "Brooklyn's Finest",
 'Furry Vengeance',
 'Faster',
 'The Kids Are All Right',
 'You Will Meet a Tall Dark Stranger',
 'The Secret in Their Eyes',
 'Avatar: Special Edition',
 'Leap Year',
 'You Again',
 'Mesrine: Killer Instinct',
 'The Losers',
 'Case 39',
 'Ramona and Beezus',
 'Splice',
 'Fair Game (2010)',
 'Let Me In',
 "Mao's Last Dancer",
 'Just Wright',
 'Our Family Wedding',
 'My Soul to Take',
 '71 Into the Fire',
 'I Love You, Phillip Morris',
 'Country Strong',
 'Another Year',
 'Youth in Revolt',
 'Buried',
 '[Rec] 2',
 'Repo Men',
 'A Prophet (Un prophète)',
 'Soul Kitchen',
 'Mother (2010)',
 'Micmacs',
 'The Nutcracker in 3D',
 'Sea Rex 3D: Journey to a Prehistoric World',
 'I Hate Luv Storys',
 'Extraordinary Measures',
 'Somewhere',
 "Winter's Bone",
 'The Last Station',
 'Raajneeti',
 'Made in Dagenham',
 'Blue Valentine',
 'Tamara Drewe',
 'Chloe',
 'Looking for Eric',
 "The Warrior's Way",
 'I Am Love',
 'Jonah Hex',
 'Harry Brown',
 'Cyrus',
 'Conviction',
 'Get Low',
 'Babies',
 'Stone',
 'Peepli Live',
 'Never Let Me Go',
 'Mid-August Lunch',
 'MacGruber',
 'City Island',
 'Inside Job',
 'The Joneses',
 'Centurion',
 'Animal Kingdom',
 'Nowhere Boy',
 "It's Kind of a Funny Story",
 'Waiting for "Superman"',
 'Greenberg',
 'Coco Chanel & Igor Stravinsky',
 'Vincere',
 'The Illusionist (2010)',
 'Exit Through the Gift Shop',
 'Mademoiselle Chambon',
 'Solitary Man',
 'Rabbit Hole',
 'Vision',
 'Mother and Child',
 'The Runaways',
 'Four Lions',
 'Wild Grass',
 'Please Give',
 'Monsters',
 'Rare Exports: A Christmas Tale',
 'The Killer Inside Me',
 'The Perfect Game',
 'To Save a Life',
 'Inspector Bellamy',
 'Catfish',
 'Wild Target',
 'Outside the Law (Hors-la-loi)',
 'Frozen (2010)',
 'Dabangg',
 'Kites',
 'Letters to God',
 'Twelve',
 'Tees Maar Khan',
 'Fish Tank',
 'Housefull',
 'Golmaal 3',
 'After.Life',
 'Cairo Time',
 'Flipped',
 'Guzaarish',
 'Ondine',
 'Anjaana Anjaani',
 'John Rabe',
 'Restrepo',
 'Raavan',
 'The City of Your Final Destination',
 "It's a Wonderful Afterlife",
 'Ajami',
 'Army of Crime',
 'Lebanon',
 'Howl',
 'Videocracy',
 "When You're Strange",
 'The Salvation Poem (Poema de Salvacion)',
 'Casino Jack',
 'Leaving',
 'Khatta Meetha',
 'We Are Family',
 'Leaves of Grass',
 'North Face',
 'Creation',
 'No One Knows About Persian Cats',
 'Carlos',
 'Hideaway (Le Refuge)',
 'The Disappearance of Alice Creed',
 'Break Ke Baad',
 'Veer (2010)',
 'Life During Wartime',
 'Enter the Void',
 'The Secret of Kells',
 'The Polar Express (IMAX re-issue 2010)',
 'No Problem',
 'All Good Things',
 'Jack Goes Boating',
 'Holy Rollers',
 'Chain Letter',
 'I Spit on Your Grave',
 "I'm Still Here",
 'Salt of this Sea',
 'Undertow (2010)',
 'Father of My Children',
 'The Greatest (2010)',
 'The Extra Man',
 'Tiny Furniture',
 'Dogtooth',
 'Grease (Sing-a-Long re-issue)',
 'The Tempest',
 'The Good Heart',
 'Formosa Betrayed',
 'Red Hill',
 'Welcome to the Rileys',
 'A Woman, A Gun and A Noodle Shop',
 'The Girl on the Train',
 'Mesrine: Public Enemy No. 1',
 '44 Inch Chest',
 'Karthik Calling Karthik',
 'Last Train Home',
 'Eyes Wide Open',
 'Waste Land',
 'South of the Border',
 'Human Centipede',
 'Lovely, Still',
 'The Girl (Flickan)',
 'Sweetgrass',
 'Bitch Slap',
 'Chance Pe Dance',
 'Client 9: The Rise and Fall of Eliot Spitzer',
 'Casino Jack and the United States of Money',
 "Perrier's Bounty",
 'Around a Small Mountain',
 'Spring Fever',
 'The Eclipse',
 "George A. Romero's Survival of the Dead",
 'The Romantics',
 'Celine: Through the Eyes of the World',
 'Freakonomics',
 'Saint John of Las Vegas',
 'Band Baaja Baaraat',
 'White Lion',
 'Kisses',
 'Waking Sleeping Beauty',
 'Enemies of the People',
 'Badmaash Company',
 'Hadewijch',
 'Alamar',
 'As Good as Dead',
 'Inhale',
 'Hatchet 2',
 'District B13: Ultimatum',
 'GasLand',
 'Boogie Woogie',
 'Come Undone (2010)',
 'The Red Baron',
 'Bluebeard',
 'Daddy Longlegs',
 'Living in Emergency',
 'Nenette',
 'Picture Me',
 'The Thorn in the Heart',
 'The Taqwacores',
 'Cherry',
 'Terkel in Trouble',
 'Kimjongilia',
 'Aashayein (Wishes)',
 'Harry Potter and the Deathly Hallows Part 2',
 'Transformers: Dark of the Moon',
 'Pirates of the Caribbean: On Stranger Tides',
 'The Twilight Saga: Breaking Dawn Part 1',
 'Mission: Impossible - Ghost Protocol',
 'Kung Fu Panda 2',
 'Fast Five',
 'The Hangover Part II',
 'The Smurfs',
 'Cars 2',
 'Puss in Boots',
 'Sherlock Holmes: A Game of Shadows',
 'Rio',
 'Rise of the Planet of the Apes',
 'Thor',
 'The Adventures of Tintin',
 'Captain America: The First Avenger',
 'X-Men: First Class',
 'Alvin and the Chipmunks: Chipwrecked',
 'Real Steel',
 'Bridesmaids',
 'Super 8',
 'Rango',
 'The Girl with the Dragon Tattoo (2011)',
 'The Green Hornet',
 'Immortals',
 'Green Lantern',
 'The Help',
 'Bad Teacher',
 'Just Go With It',
 'Battle: Los Angeles',
 'Horrible Bosses',
 'Paranormal Activity 3',
 'Gnomeo and Juliet',
 "Mr. Popper's Penguins",
 'Hugo',
 'The Lion King (in 3D)',
 'Hop',
 'War Horse',
 'The Descendants',
 'Cowboys & Aliens',
 'In Time',
 'Zookeeper',
 'The Muppets',
 'Limitless',
 'Johnny English Reborn',
 'Final Destination 5',
 'Tower Heist',
 'Midnight in Paris',
 'Happy Feet Two',
 'I Am Number Four',
 'Jack and Jill',
 'Friends with Benefits',
 'No Strings Attached',
 'Arthur Christmas',
 'Source Code',
 'Crazy, Stupid, Love.',
 "New Year's Eve",
 'Contagion',
 'The Artist',
 'The Three Musketeers (2011)',
 'Unknown',
 'The Adjustment Bureau',
 'We Bought a Zoo',
 'Water for Elephants',
 'The Iron Lady',
 'Moneyball',
 'Sanctum',
 'Justin Bieber: Never Say Never',
 'Paul',
 'Scream 4',
 'Insidious',
 'The Rite',
 'Dolphin Tale',
 'Season of the Witch',
 'Sucker Punch',
 'Red Riding Hood',
 'Spy Kids: All the Time in the World',
 'J. Edgar',
 'Hall Pass',
 'Big Mommas: Like Father, Like Son',
 'Abduction',
 'Tinker, Tailor, Soldier, Spy',
 'Priest',
 'Drive (2011)',
 'The Mechanic',
 'The Ides of March',
 'The Change-Up',
 'The Lincoln Lawyer',
 'Diary of a Wimpy Kid: Rodrick Rules',
 'Larry Crowne',
 'The Dilemma',
 'The Darkest Hour',
 'Hanna',
 'Footloose (2011)',
 'Elite Squad: The Enemy Within',
 'Colombiana',
 'Something Borrowed',
 'One Day',
 'Beginning of the Great Revival',
 'Killer Elite',
 'Extremely Loud & Incredibly Close',
 'The Tree of Life',
 "Tyler Perry's Madea's Big Happy Family",
 'Detective Dee and the Mystery of the Phantom Flame',
 'Winnie the Pooh',
 'Conan the Barbarian (2011)',
 'Soul Surfer',
 'War of the Arrows',
 'Arthur (2011)',
 'The Debt',
 'Beastly',
 'Of Gods and Men',
 'Born to Be Wild (IMAX)',
 'Evangelion 2.0: You Can (Not) Advance',
 'Fright Night (2011)',
 '30 Minutes or Less',
 'The Roommate',
 'Shark Night 3D',
 'Monte Carlo',
 '50/50',
 'Mars Needs Moms',
 'Dream House',
 'Jumping the Broom',
 "Don't Be Afraid of the Dark",
 'RA One',
 'A Very Harold & Kumar 3D Christmas',
 'My Week with Marilyn',
 'The Sitter',
 'Jane Eyre',
 'Courageous',
 'Shaolin',
 'African Cats',
 'The Skin I Live In',
 "I Don't Know How She Does It",
 "What's Your Number?",
 'Drive Angry',
 'Carnage (2011)',
 'A Dangerous Method',
 'The Thing (2011)',
 'The Eagle',
 'Legend of the Fist: The Return of Chen Zhen',
 'Apollo 18',
 'Biutiful',
 'Your Highness',
 'Our Idiot Brother',
 'The Rum Diary',
 'The Women on the 6th Floor',
 'Potiche',
 'Warrior',
 'Young Adult',
 "Sarah's Key",
 'The Way Back',
 'A Separation',
 'The Guard',
 'Margin Call',
 'Glee The 3D Concert Movie',
 'Shame',
 '13 Assassins',
 'Hoodwinked Too! Hood vs. Evil',
 'The Heir Apparent: Largo Winch',
 'The Last Godfather',
 'Delhi Belly',
 'Melancholia',
 'Judy Moody and the NOT Bummer Summer',
 'The Conspirator',
 'Anonymous',
 'Ip Man 2: Legend of the Grandmaster',
 'The Housemaid',
 'Desert Flower',
 'Pina',
 'Beginners',
 'My Afternoons with Margueritte',
 'I Saw the Devil',
 'The Hedgehog',
 'Gainsbourg: A Heroic Life',
 'The Warring States',
 'What Women Want (Wo Zhi Nu Run Xin)',
 'Snow Flower and the Secret Fan',
 'Win Win',
 'Flying Monsters',
 'City of Life and Death',
 'Le Havre',
 'Straw Dogs (2011)',
 'Prom',
 'In a Better World',
 'Trespass (2011)',
 'Saving Private Perez',
 'Point Blank',
 'Winter in Wartime',
 "Barney's Version (U.S. only)",
 'Outrage (2011)',
 'Senna',
 'Last Night',
 'The Big Year',
 'The Beaver',
 'Take Me Home Tonight',
 'Cedar Rapids',
 'The Princess of Montpensier',
 'Cave of Forgotten Dreams',
 'Sex and Zen 3D: Extreme Ecstasy',
 'We Need to Talk About Kevin',
 'Attack the Block',
 'Even the Rain',
 'Young Goethe in Love',
 '11-11-11',
 'Certified Copy',
 'Thank You (2011)',
 'The Company Men',
 'Force',
 'Tucker & Dale Vs. Evil',
 'London Boulevard',
 'Dylan Dog: Dead of Night',
 'The Names of Love',
 'The Way',
 'Burke and Hare',
 "King of Devil's Island",
 'Bride Flight',
 'Trollhunter',
 'Buck',
 'Carancho',
 'Like Crazy',
 'The Double',
 'Don 2',
 'Love Crime',
 'Incendies (U.S. only)',
 'Martha Marcy May Marlene',
 'Fireflies in the Garden',
 "The King's Speech (PG-13)",
 'Machine Gun Preacher',
 'The Last Circus',
 'From Prada to Nada',
 'Flypaper',
 'Zindagi Na Milegi Dobara',
 'Take Shelter',
 'The Greatest Miracle',
 'Rapt',
 'Pastorela',
 'The Double Hour',
 'Everything Must Go',
 '3 (2011)',
 'Oranges and Sunshine',
 'Ong Bak 3',
 'Poetry',
 'The Tree',
 'The Butcher, the Chef and the Swordsman',
 'The Trip (2011)',
 'Armadillo',
 'Bodyguard',
 'Brighton Rock',
 'A Somewhat Gentle Man',
 'The Topp Twins: Untouchable Girls',
 'Another Earth',
 'A Better Life',
 'Chalet Girl',
 'Yamla Pagla Deewana',
 'Bill Cunningham New York',
 'The Art of Getting By',
 "The Devil's Double",
 'Uncle Boonmee Who Can Recall His Past Lives',
 'The Whistleblower',
 'Red State',
 'London River',
 'Desi Boyz',
 'When We Leave (Die Fremde)',
 'There Be Dragons',
 'Vanishing on 7th Street',
 'Page One: A Year Inside the New York Times',
 'The Time That Remains',
 'Rockstar (2011)',
 "Meek's Cutoff",
 'Texas Killing Fields',
 'Ready',
 'Miral',
 'Submarine',
 'Higher Ground',
 "Mozart's Sister",
 'Plastic Planet',
 'Chillar Party',
 'Mausam',
 'The First Grader',
 'Hobo With a Shotgun',
 'Tabloid',
 'Dhobi Ghat (Mumbai Diaries)',
 'Aarakshan (Reservation)',
 'POM Wonderful Presents: The Greatest Movie Ever Sold',
 'No One Killed Jessica',
 'Korkoro',
 'Blackthorn',
 'How I Ended This Summer',
 'The Ledge',
 'Heartbeats',
 'The Future',
 'Dum Maaro Dum',
 'Double Dhamaal',
 'Kaboom',
 'Mere Brother Ki Dulhan',
 'Weekend (2011)',
 'Protektor',
 'Circumstance',
 'The Other Woman',
 'Project Nim',
 'Rage (Rabia)',
 'The Human Resources Manager',
 'Hesher',
 '7 Khoon Maaf',
 'Another Happy Day',
 'Singham',
 'The Mill and the Cross',
 'Super',
 "L'Amour Fou",
 "Being Elmo: A Puppeteer's Journey",
 'In the Land of Blood and Honey',
 'Special Treatment',
 'Illegal (2011)',
 'The Interrupters',
 'Rascals',
 'The Black Power Mix Tape: 1967-1975',
 'Black Death',
 'Le Quattro Volte',
 'Life in a Day',
 'Caterpillar',
 'Little Girl (La Pivellina)',
 'El Bulli: Cooking in Progress',
 'If I Want to Whistle, I Whistle',
 'Into the Abyss',
 'HappyThankYouMorePlease',
 'The Robber',
 "Henry's Crime",
 'A Good Old Fashioned Orgy',
 'Film Socialisme',
 'Bol',
 'Leap Year (2011)',
 'A Screaming Man',
 'Jig',
 'Nostalgia for the Light',
 'Anchor Baby',
 'Bellflower',
 'Restless (2011)',
 'Road to Nowhere',
 'Magic Trip',
 'Eames: The Architect and the Painter',
 'Revenge of the Electric Car',
 'The Human Centipede 2: Full Sequence',
 'Cold Weather',
 'Game (2011)',
 '1911',
 'Life, Above All',
 'Tomboy (2011)',
 'Octubre',
 'The Arbor',
 'Mysteries of Lisbon',
 'Vidal Sassoon: The Movie',
 'Trust (2011)',
 'Steve Jobs: The Lost Interview',
 'Rubber',
 'The Man Who Fell to Earth (35th anniversary re-issue)',
 'Chalo Dilli',
 'The Whale',
 'Beautiful Boy',
 'Puncture',
 'A Beautiful Life',
 'Tuesday, After Christmas',
 'Viva Riva!',
 'Murder 2',
 'Dirty Girl',
 'Battleship Potemkin (2011 re-issue)',
 'Love U Mr. Kalakaar',
 'Margaret',
 'Happy, Happy',
 'The Myth of the American Sleepover',
 'Hell and Back Again',
 'Khodorkovsky',
 'Sleeping Beauty (2011) (II)',
 'My Kingdom (2011)',
 'Love in Space',
 'Stake Land',
 'Brotherhood (2011)',
 'The Son of No One',
 'Muran',
 'The Sleeping Beauty',
 'Tyrannosaur',
 'Ceremony',
 "I'm Glad My Mother is Alive",
 'Always Kabhi Kabhi',
 'Empire of Silver',
 '5 Days of War',
 'Aurora',
 'Magic to Win',
 'Wrecked',
 'My Piece of the Pie',
 'I Melt With You',
 'My Joy',
 'To Die Like a Man',
 'Blood Ties',
 'Knuckle',
 'Main Street',
 'Love, Wedding, Marriage',
 'An Invisible Sign',
 "Marvel's The Avengers",
 'Skyfall',
 'The Dark Knight Rises',
 'The Hobbit: An Unexpected Journey',
 'Ice Age: Continental Drift',
 'The Twilight Saga: Breaking Dawn Part 2',
 'The Amazing Spider-Man',
 "Madagascar 3: Europe's Most Wanted",
 'The Hunger Games',
 'MIB 3',
 'Life of Pi',
 'Ted',
 'Brave',
 'Wreck-It Ralph',
 'Les Miserables (2012)',
 'The Intouchables (U.S.-only)',
 'Django Unchained',
 'Prometheus',
 'Snow White and the Huntsman',
 'Taken 2',
 'Hotel Transylvania',
 "Dr. Seuss' The Lorax",
 'Titanic 3D',
 'Journey 2: The Mysterious Island',
 'The Expendables 2',
 'Rise of the Guardians',
 'Wrath of the Titans',
 'Battleship',
 'John Carter',
 'The Bourne Legacy',
 'Lincoln',
 'Dark Shadows',
 'Resident Evil: Retribution',
 'Silver Linings Playbook',
 'American Reunion',
 'Argo',
 'Jack Reacher',
 'Safe House',
 '21 Jump Street',
 'Total Recall (2012)',
 'The Vow',
 'Mirror Mirror',
 'The Impossible',
 'The Dictator',
 'Looper',
 'Magic Mike',
 'Flight',
 'Underworld Awakening',
 'This Means War',
 'The Secret World of Arrietty',
 'Paranormal Activity 4',
 'Step Up Revolution',
 'The Best Exotic Marigold Hotel',
 'Zero Dark Thirty',
 'Ghost Rider: Spirit of Vengeance',
 'Cloud Atlas',
 'The Woman in Black',
 'Chronicle (2012)',
 'The Pirates! Band of Misfits',
 'Parental Guidance',
 'Abraham Lincoln: Vampire Hunter',
 'Pitch Perfect',
 'Hope Springs',
 'ParaNorman',
 'The Campaign',
 'Let the Bullets Fly',
 'Star Wars: Episode I - The Phantom Menace (in 3D)',
 'Project X',
 'The Devil Inside',
 'The Lucky One',
 'Contraband',
 'Think Like a Man',
 'This Is 40',
 'The Inbetweeners Movie',
 'The Possession',
 "What to Expect When You're Expecting",
 'The Thieves',
 'Savages (2012)',
 'Frankenweenie',
 'Act of Valor',
 'Masquerade (2012)',
 'Sinister',
 'The Grey',
 'Diary of a Wimpy Kid: Dog Days',
 'To Rome with Love',
 'Here Comes the Boom',
 'Finding Nemo (3D)',
 'Anna Karenina',
 'The Watch',
 'Moonrise Kingdom',
 "Tyler Perry's Madea's Witness Protection",
 'The Cabin in the Woods',
 'Beauty and the Beast (3D)',
 'Rock of Ages',
 "That's My Boy",
 'The Odd Life of Timothy Green',
 'The Three Stooges',
 'The Five-Year Engagement',
 'Lawless',
 'Silent Hill: Revelation 3D',
 'Red Tails',
 'Monsters, Inc. (3D)',
 'Trouble with the Curve',
 'Little White Lies',
 'End of Watch',
 'Man on a Ledge',
 'Red Dawn (2012)',
 'House at the End of The Street',
 'The Guilt Trip',
 'A Werewolf Boy',
 'Safe (2012)',
 'Killing Them Softly',
 'Chernobyl Diaries',
 'One For the Money',
 'Dredd',
 "Tyler Perry's Good Deeds",
 'Arbitrage',
 'Chimpanzee',
 'Alex Cross',
 'Salmon Fishing in the Yemen',
 'Fetih 1453: The Conquest of Constantinople',
 'Cirque Du Soleil: Worlds Away',
 'The Perks of Being a Wallflower',
 'Haywire',
 'Katy Perry: Part of Me',
 'Lockout',
 'Joyful Noise',
 'Premium Rush',
 'The Raven',
 'Rowdy Rathore',
 'Dragon (2012)',
 'Bol Bachchan',
 'The Master',
 'Rust and Bone',
 'Big Miracle',
 'Sparkle (2012)',
 'To the Arctic (IMAX)',
 'Hitchcock',
 'A Thousand Words',
 'Wanderlust',
 'Beasts of the Southern Wild',
 'Polisse',
 'Amour',
 'The Man with the Iron Fists',
 'Solomon Kane',
 'Seven Psychopaths',
 'Gone',
 'Norwegian Wood',
 'The Cold Light of Day',
 'My Way (2012)',
 'Tomorrow When the War Began',
 'We Have a Pope',
 'Headhunters',
 'Hit and Run',
 'War of the Buttons (2012)',
 'Red Lights (2012)',
 'The Words',
 'Playing for Keeps',
 'Silent House',
 'Friends with Kids',
 "The Well-Digger's Daughter",
 'Klown',
 'People Like Us',
 'Seeking Justice',
 'Bachelorette',
 'This Must Be the Place',
 'Fun Size',
 'Rec 3: Genesis',
 'Delicacy',
 'Seeking a Friend for the End of the World',
 'The Apparition',
 'For Greater Glory',
 'Hysteria',
 'Bernie',
 'The Sessions',
 'Ruby Sparks',
 'Hyde Park on Hudson',
 'On the Road',
 'Boy (2012)',
 'Piranha 3DD',
 'Easy Money (2012)',
 'Space Dogs 3D',
 'Bel Ami',
 'Promised Land (2012)',
 'Iron Sky',
 'Casa De Mi Padre',
 'Heroine',
 'A Royal Affair',
 'All Together',
 'My Worst Nightmare',
 'The Collection',
 'Monsieur Lazhar (U.S.-only)',
 'Goon',
 'Cosmopolis',
 'Chasing Mavericks',
 'Declaration of War',
 'Puella Magi Madoka Magica the Movie',
 'Albert Nobbs',
 'In Darkness',
 "Won't Back Down",
 'Farewell My Queen',
 'The Tall Man',
 'Girl in Progress',
 'Jeff, Who Lives at Home',
 'Barbara',
 'The Raid: Redemption',
 'Keith Lemon: The Film',
 'Safety Not Guaranteed',
 'Nitro Circus the Movie 3D',
 'Lula, Son of Brazil',
 'The Lady',
 'Branded',
 "The Rabbi's Cat",
 'Searching for Sugar Man',
 'Killer Joe',
 'Hara-Kiri: Death of a Samurai',
 'Robot & Frank',
 'Raiders of the Lost Ark (IMAX)',
 'Celeste and Jesse Forever',
 'Jab Tak Hai Jaan',
 'Intruders',
 'Talaash',
 'Barfi!',
 'A Simple Life',
 'Samsara',

In [39]:
joint_movies[joint_movies["primary_title"].isin(titles)]

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
31,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",7.1,15378
41,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886
47,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300
51,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116
52,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338
...,...,...,...,...,...,...,...,...
73182,tt9392532,Neighbors,Neighbors,2018,90.0,"Comedy,Drama",7.6,18
73251,tt9447594,The Gambler,The Gambler,2019,121.0,"Action,Sci-Fi,Thriller",6.1,10
73732,tt9816988,Gold,Tala,2019,NaN,Drama,5.2,26
73775,tt9851050,Sisters,Sisters,2019,NaN,"Action,Drama",4.7,14
73845,tt9906218,Unstoppable,Unstoppable,2019,84.0,Documentary,8.1,8

In [40]:
joint_movies_revenue = joint_movies.merge(movie_gross, how="inner", left_on="primary_title", right_on="title")
joint_movies_revenue

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",7.1,15378,Wazir,Relbig.,1100000.0,NaN,2016
1,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,On the Road,IFC,744000.0,8000000,2012
2,tt4339118,On the Road,On the Road,2014,89.0,Drama,6.0,6,On the Road,IFC,744000.0,8000000,2012
3,tt5647250,On the Road,On the Road,2016,121.0,Drama,5.7,127,On the Road,IFC,744000.0,8000000,2012
4,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,The Secret Life of Walter Mitty,Fox,58200000.0,129900000,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3022,tt8331988,The Chambermaid,La camarista,2018,102.0,Drama,7.1,147,The Chambermaid,FM,300.0,NaN,2015
3023,tt8404272,How Long Will I Love U,Chao shi kong tong ju,2018,101.0,Romance,6.5,607,How Long Will I Love U,WGUSA,747000.0,82100000,2018
3024,tt8427036,Helicopter Eela,Helicopter Eela,2018,135.0,Drama,5.4,673,Helicopter Eela,Eros,72000.0,NaN,2018
3025,tt9078374,Last Letter,"Ni hao, Zhihua",2018,114.0,"Drama,Romance",6.4,322,Last Letter,CL,181000.0,NaN,2018
3026,tt9151704,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,84.0,"Documentary,Music",8.8,2067,Burn the Stage: The Movie,Trafalgar,4200000.0,16100000,2018

In [51]:
pd.read_sql("select * from persons", con)

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"
...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress
606644,nm9990690,Joo Yeon So,NaN,NaN,actress
606645,nm9991320,Madeline Smith,NaN,NaN,actress
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer"

In [52]:
pd.read_sql("""
select mb.*, p.primary_name from movie_basics mb inner join directors d on mb.movie_id = d.movie_id inner join persons p on d.person_id = p.person_id
""", con)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,primary_name
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Harnam Singh Rawail
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Harnam Singh Rawail
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Harnam Singh Rawail
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Harnam Singh Rawail
4,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",Mani Kaul
...,...,...,...,...,...,...,...
291166,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,Kiran Gawade
291167,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,Vinicius Augusto Bozzo
291168,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,Vinicius Augusto Bozzo
291169,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,Angela Gurgel
291170,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,Angela Gurgel